@import '../../shared/scss/colors.scss';

.selected{
    background-color: $green-selected;
    color:$white;
    font-weight: 500;
}

.disabled{
    background-color:$gray-500 ;
    opacity: 0.5;
    pointer-events: none;
}