.container{
    display: grid;
    grid-template-rows: auto auto auto 40px; 
    padding: 3%;

    transition: all .2s ease-in-out;
   
    &:hover{
        transform: scale(1.05);
    }

    .text-clap-2,.text-clap-3{
        max-width: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: center;
    }

    .text-clap-2{
        -webkit-line-clamp: 2;
    }

    .text-clap-3{
        -webkit-line-clamp: 3;
    }

    
}
