.slide{
    flex :1 0 20%;
    height: 100%;
    transition:  0.6s ease-out;
    overflow: hidden;
    padding: 3px;

    .text-clap-2{
        max-width: 100%;
        max-height: 20%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: center;
        -webkit-line-clamp: 2;
    }

    .image{
        height: 80%;
    }
}

.hide-element{
    display: none;
}