@import '../../shared/scss/breakpoints.scss';
@import '../../shared/scss/colors.scss';

.top-news{
    height: 89%;
    width: 100%;
    padding: 2% 10% 3%;
    overflow: auto;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px 20px;    
}

.bullet{
    color:$gray-500;
    font-size: 30px; 
}

@media(max-width:$xl){
    .card-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:$md){
    .card-container{
        grid-template-columns: 1fr;
    }
}

@media(max-width:$sm){
    .top-news{
        height: 92%;
        width: 100%;
        overflow-y: auto;
    
        display: flex;
        flex-direction: column;
    
        &.small-nav-opened{
            height: 53%;
            // overflow: auto;
        }
    }
    
}

@media (max-height:960px){
    .top-news{
        height: 89%;
    }
}

@media (max-height:768px){
    .top-news{
        height: 86%;
    }
}
