@import '../../shared/scss/colors.scss';
@import '../../shared/scss/breakpoints.scss';

.container{
    height: 100%;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;


    .layout{
        height: 100%;
        width: 90%;
        margin:auto;
        border-radius: 5px;

        background-image: linear-gradient(280deg, $layout-light, $white);
        box-shadow: -7px 2px 14px -6px rgba(0,0,0,0.75);
    }
}

@media(min-width:320px) and (max-height:667px){
    .container{
      padding-top: 10px;
      padding-bottom: 10px;
    }
}
