@import '../../shared/scss/breakpoints.scss';

.container{
    height: 92%;
    width: 100%;
    padding: 1% 4% 3%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    &.small-nav-opened{
        height: 63%;
        overflow-y: auto;
    }
}

.categories-wrapper{
    position:relative;
    width:100%;
    height: 100%;
    top:0;
    left:0;
}

@media(min-width:$sm){
    .container{
        height: 88%; 
    } 
}

@media(min-width:$md){
    .container{
        height: 87%; 
    } 
}

@media(min-width:$lg){
    .container{
        height: 89%; 
    } 
}

//1680x1050 (Desktop md)
@media (min-width:$xxxl) and (max-height:1050px) {
    .container{
        height: 88%;      
    }
}

//1024x768 (iPad)
@media (min-width:$lg) and (max-height:768px) {
    .container{
        height: 85%;          
    }
}

//375x667 (iPhone6)
@media(min-width:320px) and (max-height:667px){
    .container{
        height: 90%;          
        &.small-nav-opened{
            height: 50%;
        }
    }
}

// 320x568 (iPhone 5)
@media(min-width:320px) and (max-height:568px){
    .container{
        &.small-nav-opened{
            height: 42%;
        }
    }
}

@media(min-width:$sm) and (max-height:723px){
    .container{
        &.small-nav-opened{
            height: 40%;
        }
    }
}