@import '../../../shared/scss/breakpoints.scss';
@import '../../../shared/scss/colors.scss';

.template-container{
    height: 92%;
    width: 100%;
    padding: 2% 10% 3%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    &.small-nav-opened{
        height: 62%;
        overflow-y: auto;
    }
}

.cards-wrapper{
    position:relative;
    width:100%;
    height: 100%;
    top:0;
    left:0;
}

.card-container{
    display: grid;
    grid-template-columns:1fr;
    gap: 5px 20px;    
}

@media(min-width:$sm){
    .template-container{
        height: 87%; 
    } 
}

@media(min-width:$md){
    .template-container{
        height: 86%;    
    } 
    .card-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:$lg){
    .template-container{
        height: 85%;    
    } 
    .card-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:$xl){
    .template-container{
        height: 84%;    
    } 
    .card-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-height:768px) and (min-width:$sm){
    .template-container{
        height: 93%;  
        max-height: 760px;
        
        &.small-nav-opened{
            height: 62%;
        }
    }
}




