@import '../../../shared/scss/breakpoints.scss';

.template-container{
    height: 92%;
    width: 100%;
    padding: 2% 10% 3%;
    overflow-y: auto;

    &.small-nav-opened{
        height: 63%;
        overflow-y: auto;
    }
}

.cards-wrapper{
    position:relative;
    width:100%;
    height: 100%;
    top:0;
    left:0;
}

.card-container{
    display: grid;
    grid-template-columns:minmax(0, 1fr);
    gap: 5px 20px;    
}

@media(min-width:$sm){
    .template-container{
        height: 88%; 
    } 
}

@media(min-width:$md){
    .template-container{
        height: 87%; 
        
        .cards-wrapper{
            .card-container{
                grid-template-columns:minmax(0, 1fr) minmax(0, 1fr);
            }
        }
    } 
}

@media(min-width:$lg){
    .template-container{
        height: 89%; 
    } 
}

@media(min-width:$xl){
    .template-container{        
        .cards-wrapper{
            .card-container{
                grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            }
        }
    } 
}

@media(min-width:$xxl){
    .template-container{        
        .cards-wrapper{
            .card-container{
                grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
            }
        }
    } 
}

//1680x1050 (Desktop md)
@media (min-width:$xxxl) and (max-height:1050px) {
    .template-container{
        height: 88%;      
    }
}

//1024x768 (iPad)
@media (min-width:$lg) and (max-height:768px) {
    .template-container{
        height: 85%;          
    }
}

//375x667 (iPhone6)
@media(min-width:320px) and (max-height:667px){
    .template-container{
        height: 90%;          
        &.small-nav-opened{
            height: 50%;
        }
    }
}

// 320x568 (iPhone 5)
@media(min-width:320px) and (max-height:568px){
    .template-container{
        &.small-nav-opened{
            height: 35%;
        }
    }
}

@media(min-width:$sm) and (max-height:723px){
    .template-container{
        &.small-nav-opened{
            height: 40%;
        }
    }
}