@import '../../../shared/scss/colors.scss';
@import '../../../shared/scss/breakpoints.scss';

.success,.danger,.info{
    display: flex;
    font-size: smaller;
    justify-content: center;
    align-items: center;
    max-width: 52%;
    max-height: 30px;
    padding:2% 5%;
    margin-top:5px;
    margin-left: 75%;
    color:$white;
    border-radius: 10px;
    font-weight: 600;

    &:hover{
      color:black;
      opacity: 0.7;
    }

    &:active{
        color: $white;
        opacity: 0.9;
    }

    &:focus{
        outline: 0;
    }
}

.success{
   background-color: $green-success;
}

.danger{
    background-color: $red-danger; 
    margin-left:0%
 }

.info{
    background-color: $blue-info;
 }

 @media(min-width:$sm){
    .success,.danger,.info{
        font-size: small;
        max-width: 40%;
    }
 }

 
 @media(min-width:$md){
    .success,.danger,.info{
        font-size: medium;
        max-width: 32%;
    }
 }

 @media(min-width:$lg){
    .success,.danger,.info{
        font-size: medium;
        max-width: 26%;
    }
 }

 @media(min-width:$xl){
    .success,.danger,.info{
        font-size: medium;      
        max-width: 23%;
    }
 }

 @media(min-width:$xxl){
    .success,.danger,.info{
        font-size: medium;
        max-width: 22%;
    }
 }