@import '../../../shared/scss/colors.scss';
@import '../../../shared/scss/breakpoints.scss';

.success,.danger,.info{
    padding: 1% 5%;
    margin-top:5px;
    margin-left: 75%;
    color:$white;
    border-radius: 10px;
    font-weight: 600;

    &:hover{
      color:black;
      opacity: 0.7;
    }

    &:active{
        color: $white;
        opacity: 0.9;
    }

    &:focus{
        outline: 0;
    }
}

.success{
   background-color: $green-success;
}

.danger{
    background-color: $red-danger; 
 }

.info{
    background-color: $blue-info;
 }
